<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Signup Page</h1><hr>
                </div>
                    
                        <form [formGroup]="signinForm" (ngSubmit)="signUp()">
                            <div class="mb-3">
                                <label class="form-label">Name</label><br>
                                <input type="text" class="form-control" placeholder="Enter Name" formControlName="name">
                            </div><br>
                            <div class="mb-3">
                                <label  class="form-label">Email address</label><br>
                                <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
                              </div><br>
                              <div class="mb-3">
                                <label  class="form-label">User Name</label><br>
                                <input type="text" class="form-control" placeholder="user Name" formControlName="username">
                              </div><br>
                            <div class="mb-3">
                                <label  class="form-label">Password</label><br>
                                <input type="password" class="form-control" placeholder="Password" formControlName="Password"><br><br>
                            </div>
                               <button type="signUp" class="btn btn-primary">SignUp</button>
                        </form><br>
                    <a routerLink="/login">Click to Login</a>
            </div>
        </div>
    </div>
</div>
