<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login Page</h1><hr>
                </div>
                    
                        <form [formGroup]="loginForm" (ngSubmit)="logIn()"> 
                            <div class="mb-3">
                              <label class="form-label">Email address</label><br>
                              <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
                            </div><br>
                            <div class="mb-3">
                              <label class="form-label">Password</label><br>
                              <input type="password" class="form-control" placeholder="Password" formControlName="password"><br><br>
                            </div>
                               <button type="submit" class="btn btn-primary">Login</button>
                        </form><br>
                        <a routerLink="/signin">Click to SignUp</a>
            </div>
        </div>
    </div>
</div>
