<div class="container">
    <form #myForm="ngForm">
        <div class="form-group">
          <label>Full Name</label><br>
          <input type="email" class="form-control"  name="Name"  placeholder="Enter Full Name" [(ngModel)]="userobj.Name"><br><br>
        </div>
        <div class="form-group">
            <label>Mobile Number</label><br>
            <input type="email" class="form-control" name="Mobile"  placeholder="Enter Mobile Number" [(ngModel)]="userobj.Mobile"><br><br>
          </div>
          <div class="form-group">
            <label>Email address</label><br>
            <input type="email" class="form-control" name="Email"  placeholder="Enter email" [(ngModel)]="userobj.Email"><br><br>
          </div>
        <div class="form-group">
          <label>Password</label><br>
          <input type="password" class="form-control"  name="Password" placeholder="Password" [(ngModel)]="userobj.Password">
        </div><br>
        
        <button type="submit" (click)="addUser(myForm.value)" class="btn btn-primary" *ngIf="!isEdit">Submit</button>
        <button type="button" class="btn btn-info" *ngIf="isEdit" (click)="updateUser()">Update</button>
      </form><br>


      <table class="table" border="2" align="center">
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">Email address</th>
            <th scope="col">Password</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let user of allUser">
            <td>{{user.Name}}</td>
            <td>{{user.Mobile}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.Password}}</td>
            <td><button (click)="edituser(user)" class="btn btn-warning" (click)="getLatestUser()">Edit</button></td>
            <td><button (click)="deleteuser(user)" class="btn btn-warning">Delete</button></td>
          </tr>
        </tbody>
      </table>
</div>